@use '../util' as *;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-block-end: rem(16);

  @include breakpoint(medium) {
    margin-block-end: rem(32);
    padding-inline: rem(32);
  }
}

.attribution {
  font-size: rem(12);
  text-align: center;
}
.attribution a {
  color: var(--clr-gold-500);
}
